<a href="https://colab.research.google.com/github/naruemonssp/data_viz_2022/blob/main/Python101.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

ข้อความในช่อง text เป็นภาษา Markdown (https://www.markdownguide.org/cheat-sheet)

# การจัดการข้อความในการแสดงผล
## String
### test heading 3

`print(ข้อความ)`

In [1]:
'สถิติ' # ' quote เหมือนกันกับอันข้างล่างไม่ได้ต่างกันเวลาแสดงผลออกมา

'สถิติ'

In [2]:
"สถิติ" # " quote

'สถิติ'

In [3]:
1+3 # 1+3 = 4

4

In [4]:
'1' + '3' #ข้อความบวกกันเวลาแสดงผลตัวเลขจะมาต่อกันเลย

'13'

In [5]:
1-3 #สามารถลบกันได้

-2

In [6]:
'1'-'3' #ข้อความมาลบกันไม่ได้

TypeError: ignored

## Print (ข้อความ)

In [7]:
print('ข้อความที่อยากให้ print')

ข้อความที่อยากให้ print

# ตัวแปร (Variables)

In [8]:
vartest1 = 3 #ถ้าไม่แสดงค่าแสดงว่า 3 เก็บไว้ในตัวแปร vartest1

In [9]:
vartest1 #แสดงค่าออกมา

3

In [10]:
print(vartest1) #แสดงค่าออกมาเหมือนกัน

3

In [11]:
vartest2 = '1'+'3' #เก็บตัวแปร String ไว้ในตัวแปรชื่อว่า vartest2

In [12]:
vartest2 #รันค่าออก จะเห็นค่า ถ้าเป็น String จะเอาตัวหนังสือมาต่อกัน

'13'

In [13]:
print(vartest2)

13

## ข้อกำหนดในการตั้งชื่อตัวแปร
1. ตั้งให้สื่อความหมาย
2. ต้องเป็นภาษาอังกฤษ
3. ใช้ตัวเลขผสมกับตัวหนังสือได้ แต่ห้ามขึ้นต้นด้วยตัวเลข
4. ห้ามมีเว้นวรรคในชื่อตัวแปร
5. ตัวใหญ่ ตัวเล็ก ค่าไม่เท่ากัน

In [14]:
1a = 7  #แบบนี้ไม่ได้เพราะตัวแปรขึ้นต้นด้วยตัวเลข

SyntaxError: ignored

In [15]:
variable a = 1 #แบบนี้ไม่ได้เพราะมีเว้นวรรค

SyntaxError: ignored

## Advanced Prining
เราสามารถ print ตัวแปรร่วมกับข้อความได้ 
``` python
print (f'ข้อความ{code}')
```

In [16]:
print(f'หนึ่ง บวก สอง (1+2) เท่ากับ สาม ({1+2})') # { } เรียกว่า Curly Backets

หนึ่ง บวก สอง (1+2) เท่ากับ สาม (3)

In [17]:
a = 1 
b= 2 
print(f'หนึ่ง บวก สอง ({a}+{b}) เท่ากับ สาม ({a+b})') #ลองปริ้นค่า a และ b ออกมา โดนใช้คำสั่ง print

หนึ่ง บวก สอง (1+2) เท่ากับ สาม (3)

In [18]:
a = 5 #ตัวแปร a = 5
b= 2 #ตัวแปร b = 2

In [19]:
print(f'{a}+{b} =  {a+b}')  #ลองปริ้นค่า a และ b ออกมา โดนใช้คำสั่ง print

5+2 =  7

In [20]:
a = -1 #ตัวแปร a = -1 
b = 11 #ตัวแปร b = 11

## ชนิดของตัวแปร

### char (acter) (ตัวอักษร)

In [21]:
a = 'Ch' #มีมากกว่า 1 ตัวเป็น String

In [22]:
b = 'aracter' #ตัวแปร b เก็บค่า คำว่า aracter

In [23]:
print(f'a={a} b={b} , then {a}+{b} = {a+b}') #ปริ้นค่า a และ b ออกมา โดนใช้คำสั่ง print และให้ข้อความต่อกัน โดนใช้ + ข้อความจะต่อกันถ้าเป็นชนิด String

a=Ch b=aracter , then Ch+aracter = Character

In [24]:
A = 'c' #ตัวเดียวเป็น Charecter
B = 'a' #ตัวเดียวเป็น Charecter

In [25]:
print(A+B) #ปริ้นค่า a และ b ออกมา โดนใช้คำสั่ง print

ca

### Int (eger) (จำนวนเต็ม)

In [26]:
int_a = 7 #จำนวนเต็ม 
int_b = 2 #จำนวนเต็ม

In [27]:
int_c = int_a + int_b #int_c คือ เอา int_a + int_b บวกกัน จะได้ 7+2 = 9 นั่นเอง
print(int_c)

9

### Float (จำนวนจริง ทศนิยม)

In [28]:
fl_a = 7. #ถ้าอยากให้เป็น float ให้เติมจุดด้านหลัง
fl_b = 2.571

In [29]:
fl_a #รันค่าตัวแปร fl_a จะเห็นว่าเป็นทศนิยม

7.0

In [30]:
fl_b #รันค่าตัวแปร fl_b จะเห็นว่าเป็นทศนิยม

2.571

In [31]:
print(fl_a) #ปริ้นตัวแปร fl_a จะเห็นว่าเป็นทศนิยม

7.0

In [32]:
print(fl_b) #ปริ้นตัวแปร fl_b จะเห็นว่าเป็นทศนิยม

2.571

In [33]:
print(fl_a + fl_b) #ปริ้นตัวแปร fl_a  + กับ lf_b จะเห็นว่าคำตอบออกมาเป็นทศนิยม

9.571

### Boolean (ตัวแปรที่มีค่า True หรือ False) ตรรกศาสตร์

In [34]:
b_T = True #สังเกตต้องเป็นหนังสือสีฟ้าเพราะเป็นคำสงวนไว้

In [35]:
b_F = False #สังเกตต้องเป็นหนังสือสีฟ้าเพราะเป็นคำสงวนไว้

### Complex (จำนวนเชิงซ้อน)

In [36]:
x = 1 +2j #จำนวนเชิงซ้อน

### เราสามารถตรวจสอบชนิดของตัวแปรด้วยคำสั่ง type()

In [37]:
print(f'ตัวแปร x ค่าคือ {x} ชนิด {type(x)}') #คำการตรวจสอบชนิดของตัวแปรโดยใช้คำสั่ง type

ตัวแปร x ค่าคือ (1+2j) ชนิด <class 'complex'>

In [38]:
print(f'ตัวแปร A ค่าคือ {A} ชนิด {type(A)}') #คำการตรวจสอบชนิดของตัวแปรโดยใช้คำสั่ง type

ตัวแปร A ค่าคือ c ชนิด <class 'str'>

In [39]:
print(f'ตัวแปร a ค่าคือ {a} ชนิด {type(a)}') #คำการตรวจสอบชนิดของตัวแปรโดยใช้คำสั่ง type

ตัวแปร a ค่าคือ Ch ชนิด <class 'str'>

# การแปลงชนิดของชนิดตัวแปร (Variable Casting)

In [40]:
print(f' int_a = {int_a}  int_b = {int_b} fl_a =  {fl_a} fl_b =  {fl_b}') #ปริ้นค่าต่าง ๆ ออกมา

 int_a = 7  int_b = 2 fl_a =  7.0 fl_b =  2.571

In [41]:
str_a = '6' #string ไม่สามาถนำมาบวกลบกันได้
str_b = '-2'  #string ไม่สามาถนำมาบวกลบกันได้

In [42]:
str_a2int = int(str_a)
print(f' ตัวแปร str_a2int ค่าคือ {str_a2int} ชนิด {type(str_a2int)}') #ปริ้นค่า ในตัวแปร str_2int และค่านั้นเป็นชนิดคือ int

 ตัวแปร str_a2int ค่าคือ 6 ชนิด <class 'int'>

In [43]:
str_a2int + int_ax

NameError: ignored

In [44]:
str_a + int_a #ไม่สามารถเอา int ต่อกับ string ได้

TypeError: ignored

In [45]:
int_a + str_a #ไม่สามารถเอา string ต่อกับ int ได้ #เวลาอ่านข้อผิดพลาดอ่านบรรทัดสุดท้าย

TypeError: ignored

In [46]:
int (fl_b) #เปลี่ยน float เป็น int

2

In [47]:
float(int_a) #เปลี่ยน int เป็น float

7.0

In [48]:
str(fl_b) #เปลี่ยน float เป็น string

'2.571'

# Operation (เอาตัวแปร 2 ตัวมาทำอะไรกัน)

### Operators (บวก (+) , ลบ (-) , คูณ (*) , หาร (/) , modulo (%) , and (&) , or (|))

In [49]:
fl_a + int_b # float กับ int บวกกันได้

9.0

In [50]:
9%2 #การหารเอาเศษ

1

In [51]:
100%2 #เอา 2 มา mod เลขคู่ ได้ 0 หรือเอา 2 มา mod เลขคี่จะได้ 1

0

In [52]:
int_a / int_b # แต่ก่อน int / int จะได้ int เหมือนเดิม

3.5

In [53]:
int(int_a / int_b) #หารเอาจำนวนเต็ม

3

In [54]:
False & False # & อ่านว่า และ

False

In [55]:
False & True # & อ่านว่า และ

False

In [56]:
False | True # | หรือ เรียกว่า บาร์

True

## String Operations

In [57]:
st_test1 = 'Department of Statistics, '
st_test2 = 'Faculty of Science'

In [58]:
print(st_test1+st_test2)

Department of Statistics, Faculty of Science

In [59]:
print(10*'t')

tttttttttt

In [60]:
print(3*st_test1)

Department of Statistics, Department of Statistics, Department of Statistics,

## Replace() แทนที่ String

In [61]:
st_test1.replace('e',' ')

'D partm nt of Statistics, '

In [62]:
st_test1.replace('e','')

'Dpartmnt of Statistics, '

In [63]:
st_test1

'Department of Statistics, '

## ```Spilt()``` แยก String

In [64]:
'a b c d e f g'.split()

['a', 'b', 'c', 'd', 'e', 'f', 'g']

In [66]:
'a,b/c,d e/f g'.split('/')   ## แยกโดยใช้ /

['a,b', 'c,d e', 'f g']